:root {
  --clr-dark: #09090b;
  --clr-light: #f1f5f9;
  --clr-purple: #a855f7;
  --clr-dark-purple: #7e22ce;
  --clr-pink: #e493b3;
  --clr-peach: #eea5a6;
  --clr-blue: #2563eb;
  --clr-pink: #db2777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-decoration: none;
}

body {
  margin: 0px 0px 0px 0px;
}

img {
  width: 300px;
}

.heading1 {
  font-size: 50px;
}

.heading2 {
  font-size: 30px;
}

.heading3 {
  font-size: 20px;
}

.heading4 {
  font-size: 10px;
}

hr {
  border-width: 0.2px;
  border-color: var(--clr-pink);
}